<!-- @author : Christopher Deshaies -->
<div>
  <h2>Planning</h2>
  <div class="d-flex justify-content-around">
    <div style="width:100%; text-align: center;" (click)='previusSemaine()'>
      <i class="fas fa-arrow-left" ></i>
    </div>
    <label class="col-3" style="padding:0 10px">Planning pour la semaine du {{formattedDateDDMMYY(semaine[0])}} au {{formattedDateDDMMYY(semaine[6])}}</label>
    <div style="width:100%; text-align: center;" (click)='nextSemaine()'>
      <i class="fas fa-arrow-right" (click)='nextSemaine()'></i>
    </div>
  </div>
  <div>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th></th>
          <th colspan="2">Dimanche {{formattedDateDDMM(semaine[0])}}</th>
          <th colspan="2">Lundi {{formattedDateDDMM(semaine[1])}}</th>
          <th colspan="2">Mardi {{formattedDateDDMM(semaine[2])}}</th>
          <th colspan="2">Mercredi {{formattedDateDDMM(semaine[3])}}</th>
          <th colspan="2">Jeudi {{formattedDateDDMM(semaine[4])}}</th>
          <th colspan="2">Vendredi {{formattedDateDDMM(semaine[5])}}</th>
          <th colspan="2">Samedi {{formattedDateDDMM(semaine[6])}}</th>
        </tr>
        <tr>
          <th>Employé(s)</th>
          <th>M</th>
          <th>S</th>
          <th>M</th>
          <th>S</th>
          <th>M</th>
          <th>S</th>
          <th>M</th>
          <th>S</th>
          <th>M</th>
          <th>S</th>
          <th>M</th>
          <th>S</th>
          <th>M</th>
          <th>S</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let user of listUser | async ; let i = index'>
          <td>{{user.nom}}</td>
          <td *ngFor="let planning of listPlanning | async">TRUE</td>
            
          <!-- <td *ngIf='formattedDateDDMM(semaine[0])!==formattedDateDDMM(planning.date)'></td>
            
          <td *ngIf='user.id === planning.employe && formattedDateDDMM(semaine[0])===formattedDateDDMM(planning.date) && planning.midi' style='background-color: blue'></td> -->
          
        
          <!-- <div *ngFor='let planning of listPlanning | async'>
            <td *ngIf='user.id === planning.employe && formattedDateDDMM(semaine[0])===formattedDateDDMM(planning.date) && planning.soir' style='background-color: blue'></td>
            <td *ngIf='user.id !== planning.employe || formattedDateDDMM(semaine[0])!==formattedDateDDMM(planning.date) || !planning.soir'></td>
          </div>
          <div *ngFor='let planning of listPlanning | async'>
            <td *ngIf='user.id === planning.employe && formattedDateDDMM(semaine[1])===formattedDateDDMM(planning.date) && planning.midi' style='background-color: blue'></td>
            <td *ngIf='user.id !== planning.employe || formattedDateDDMM(semaine[1])!==formattedDateDDMM(planning.date) || !planning.midi'></td>
          </div>
          <div *ngFor='let planning of listPlanning | async'>
            <td *ngIf='user.id === planning.employe && formattedDateDDMM(semaine[1])===formattedDateDDMM(planning.date) && planning.soir' style='background-color: blue'></td>
            <td *ngIf='user.id !== planning.employe || formattedDateDDMM(semaine[1])!==formattedDateDDMM(planning.date) || !planning.soir'></td>
          </div>
          <div *ngFor='let planning of listPlanning | async'>
            <td *ngIf='user.id === planning.employe && formattedDateDDMM(semaine[2])===formattedDateDDMM(planning.date) && planning.midi' style='background-color: blue'></td>
            <td *ngIf='user.id !== planning.employe || formattedDateDDMM(semaine[2])!==formattedDateDDMM(planning.date) || !planning.midi'></td>
          </div>
          <div *ngFor='let planning of listPlanning | async'>
            <td *ngIf='user.id === planning.employe && formattedDateDDMM(semaine[2])===formattedDateDDMM(planning.date) && planning.soir' style='background-color: blue'></td>
            <td *ngIf='user.id !== planning.employe || formattedDateDDMM(semaine[2])!==formattedDateDDMM(planning.date) || !planning.soir'></td>
          </div>
          <div *ngFor='let planning of listPlanning | async'>
            <td *ngIf='user.id === planning.employe && formattedDateDDMM(semaine[3])===formattedDateDDMM(planning.date) && planning.midi' style='background-color: blue'></td>
            <td *ngIf='user.id !== planning.employe || formattedDateDDMM(semaine[3])!==formattedDateDDMM(planning.date) || !planning.midi'></td>
          </div>
          <div *ngFor='let planning of listPlanning | async'>
            <td *ngIf='user.id === planning.employe && formattedDateDDMM(semaine[3])===formattedDateDDMM(planning.date) && planning.soir' style='background-color: blue'></td>
            <td *ngIf='user.id !== planning.employe || formattedDateDDMM(semaine[3])!==formattedDateDDMM(planning.date) || !planning.soir'></td>
          </div>
          <div *ngFor='let planning of listPlanning | async'>
            <td *ngIf='user.id === planning.employe && formattedDateDDMM(semaine[4])===formattedDateDDMM(planning.date) && planning.midi' style='background-color: blue'></td>
            <td *ngIf='user.id !== planning.employe || formattedDateDDMM(semaine[4])!==formattedDateDDMM(planning.date) || !planning.midi'></td>
          </div>
          <div *ngFor='let planning of listPlanning | async'>
            <td *ngIf='user.id === planning.employe && formattedDateDDMM(semaine[4])===formattedDateDDMM(planning.date) && planning.soir' style='background-color: blue'></td>
            <td *ngIf='user.id !== planning.employe || formattedDateDDMM(semaine[4])!==formattedDateDDMM(planning.date) || !planning.soir'></td>
          </div>
          <div *ngFor='let planning of listPlanning | async'>
            <td *ngIf='user.id === planning.employe && formattedDateDDMM(semaine[5])===formattedDateDDMM(planning.date) && planning.midi' style='background-color: blue'></td>
            <td *ngIf='user.id !== planning.employe || formattedDateDDMM(semaine[5])!==formattedDateDDMM(planning.date) || !planning.midi'></td>
          </div>
          <div *ngFor='let planning of listPlanning | async'>
            <td *ngIf='user.id === planning.employe && formattedDateDDMM(semaine[5])===formattedDateDDMM(planning.date) && planning.soir' style='background-color: blue'></td>
            <td *ngIf='user.id !== planning.employe || formattedDateDDMM(semaine[5])!==formattedDateDDMM(planning.date) || !planning.soir'></td>
          </div>
          <div *ngFor='let planning of listPlanning | async'>
            <td *ngIf='user.id === planning.employe && formattedDateDDMM(semaine[6])===formattedDateDDMM(planning.date) && planning.midi' style='background-color: blue'></td>
            <td *ngIf='user.id !== planning.employe || formattedDateDDMM(semaine[6])!==formattedDateDDMM(planning.date) || !planning.midi'></td>
          </div>
          <div *ngFor='let planning of listPlanning | async'>
            <td *ngIf='user.id === planning.employe && formattedDateDDMM(semaine[6])===formattedDateDDMM(planning.date) && planning.soir' style='background-color: blue'></td>
            <td *ngIf='user.id !== planning.employe || formattedDateDDMM(semaine[6])!==formattedDateDDMM(planning.date) || !planning.soir'></td>
          </div> -->
        </tr>
      </tbody>
    </table>
  </div>
</div>