<div>
    <button type="submit" (click)= "[rechercheCA()]" >CA-journalier</button>
    <button type="submit">CA-hebdomadaire</button>
    <button type="submit">CA-mensuel</button>
    <button type="submit">CA-annuel</button>
    <label>Résultat de votre requête</label>
    <input>
</div>
<br>
<div>
    <label>Recherche par dates entre le :</label>
    <input type="datetime-local" [(ngModel)]="dateDebut">  
    <label>et le :</label>
    <input type="datetime-local" [(ngModel)]="dateFin">
    <button type="submit" (click)="[rechercheCA()]">Executer le requête</button>
    <label>Résultat de votre recherche</label>   
    <input type="text" value={{resultRecherche}}>
</div>

<div class="row">
    <div >
        <table>
            <thead>
                <th>Date</th>
                <th>Prix de la commande</th>
            </thead>
            <tbody>
                <tr *ngFor="let commande of histoCommandes | async ">
                    <td>{{commande.dateCommande}}</td>
                    <td>{{commande.prixTotal}}</td>
                    <!-- <td>{{calcul(commande.prixTotal)}}</td> -->
                </tr>
            </tbody>
        </table>
    </div>
</div>
         
<!-- source.pipe(filter(item => item.date_anniversary >= start_date && item.date_anniversary <= end_date));
 -->
