<div class="row">
    <div class="commandes">
        <div class="row">
            <!-- <div><label>Frites : </label></div> -->
            <div class="row">
                <li *ngFor="let frite of getListProduitsEnVente | async">
                    <!-- <img src="assets/img/frites/frites.jpeg"> -->
                    <div class="item">
                        <span>{{frite.libelle}}</span>
                    </div>
                    <div>
                        <div class="row justify-content-between"><span>Quantité : </span><span>{{frite.quantite}}</span></div>
                        <div class="row justify-content-between"><span>Stocks(kg) :</span> <span>{{frite.quantiterestante}}</span></div>
                    </div>
                    <div class="row justify-content-between">
                        <i class="fas fa-plus" (click)="ajout(frite)"></i>
                        <i class="fas fa-minus" (click)="retirer(frite)"></i>
                    </div>
                </li>
            </div>
        </div>

        <div class="row">
            <!-- <div><label>Boissons : </label></div> -->
            <div class="row">
                <li *ngFor="let boisson of boissons">
                    <!-- <img src="assets/img/boissons/{{boisson.nom}}.png"> -->
                    <div class="item">
                        <span>{{boisson.libelle}}</span>
                    </div>
                    <div>
                        <div class="row justify-content-between"><span>Quantité : </span><span>{{boisson.quantite}}</span></div>
                        <div class="row justify-content-between"><span>Stocks : </span><span>{{boisson.quantiterestante}}</span></div>
                    </div>
                    <div class="row justify-content-between">
                        <i class="fas fa-plus" (click)="ajout(boisson)"></i>
                        <i class="fas fa-minus" (click)="retirer(boisson)"></i>
                    </div>
                </li>
            </div>
        </div>

        <div class="row">
            <!-- <div><label>Viandes : </label></div> -->
            <div class="row">
                <li *ngFor="let viande of viandes">
                    <!-- <img src="assets/img/viandes/{{viande.nom}}.png"> -->
                    <div class="item">
                        <span>{{viande.libelle}}</span>
                    </div>
                    <div>
                        <div class="row justify-content-between"><span>Quantité : </span><span>{{viande.quantite}}</span></div>
                        <div class="row justify-content-between"><span>Stocks : </span><span>{{viande.quantiterestante}}</span></div>
                    </div>
                    <div class="row justify-content-between">
                        <i class="fas fa-plus" (click)="ajout(viande)"></i>
                        <i class="fas fa-minus" (click)="retirer(viande)"></i>
                    </div>
                </li>
            </div>
        </div>

        <div class="row encaissement">
            <h3>TOTAL : {{prixTotal}} euros TTC</h3>
            <button type="button" class="btn btn-success" (click)="encaisser()">Encaisser</button>
            <button type="button" class="btn btn-danger" (click)="reinitialiser()">Annuler</button>
        </div>
    </div>
    <div class="facture">
        <app-detailscommande class="commandes" [produitsCommandes]="listProduits" [prixTotal]="prixTotal"></app-detailscommande>
    </div>
</div>

